//
.testimonial-front {
  width: 100vw;
  min-height: 100vh;
  padding: 0 0 3vh 0;
  background-color: rgb(240, 219, 195);

  //
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RobotoBlack";
  font-size: calc(20px + 1vmin);

  //

  .slider {
    position: relative;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    //
    .right-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      //
      font-size: 3rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    .left-arrow {
      position: absolute;
      top: 50%;
      right: 32px;
      //
      font-size: 3rem;
      color: #000;
      z-index: 10;
      cursor: pointer;
      user-select: none;
    }
    //
    .img-box {
      width: 1000px;
      height: 600px;
    }
  }

  //
}
