//
.testimonial-front {
  width: 100vw;
  min-height: 100vh;
  padding: 0 0 3vh 0;
  background-color: rgb(240, 219, 195);

  //
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RobotoBlack";
  font-size: calc(20px + 1vmin);
}
