//
.testimonial-wrapper {
  width: 100vw;
  height: 100vh;

  .testimonial-container {
    background-color: rgb(247, 245, 239);
  }
}

//
.testimonial-front {
  width: 100vw;
  height: 100vh;
  background-color: rgb(240, 219, 195);

  //
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "RobotoBlack";
  font-size: calc(20px + 1vmin);
}
